<!-- TODO: Make permission options like: Grader, TA, Student for easy creation of users. -->
<div id="centered">
  <div id="lesson" class="noselect">
    <h2>Admin Panel - <strong><%-currentUser.username%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
  <a href="/admin/users">Users management</a><br/>
  <a href="/admin/grades">Enter grades</a>
  </div>
</div>