<!-- TODO: make this beautiful. -->
<div id="centered">
  <h1>admin/index</h1>
  <p>
    Logged in as <%-currentUser.username%>
  </p>
  <a href="/admin/users">Users management</a><br/>
  <a href="/grades">Enter grades</a>
</div>