<!-- Extra for experts 14: Logic programming -->

<p>
The lecture notes for this week
describe rules that allow inference of the <tt>reverse</tt> relation
in one direction, i.e.,

<p>
<tt>  <pre>;;; Query input:
(forward-reverse (a b c) ?what)

;;; Query results:
(FORWARD-REVERSE (A B C) (C B A))

;;; Query input:
(forward-reverse ?what (a b c))

;;; Query results:
<span class="roman">... infinite loop</span>
</pre></tt>

<p>
or

<p>
<tt>  <pre>;;; Query input:
(backward-reverse ?what (a b c))

;;; Query results:
(BACKWARD-REVERSE (C B A) (A B C))

;;; Query input:
(backward-reverse (a b c) ?what)

;;; Query results:
<span class="roman">... infinite loop</span>
</pre></tt>

<p>
Define rules that allow inference of the <tt>reverse</tt> relation in both
directions, to produce the following dialog:

<p>
<tt>  <pre>;;; Query input:
(reverse ?what (a b c))

;;; Query results:
(REVERSE (C B A) (A B C))

;;; Query input:
(reverse (a b c) ?what)

;;; Query results:
(REVERSE (A B C) (C B A))
</pre></tt>