  <div id="bottombar" class="noselect">
      
      <div class="topcenter">
      <a href="#top" class="scroll">
        <div class="smallwidth left"><span class="iconic arrow-up-alt"></span></div>
        <div class="left up margin">Top</div>
      </a>
      
    </div>
  </div>

