  <div id="bottombar" class="noselect">
    <div class="center">
      <a href="/blog">
        <div class="smallwidth left"><span class="iconic article"></span></div>
        <div class="left up margin">News</div>
      </a>
      <a href="/administration">
        <div class="smallwidth left"><span class="iconic check"></span></div>
        <div class="left up margin">Administration</div>
      </a>
      <a href="http://www.piazza.com/">
        <div class="smallwidth left"><span class="iconic chat-alt"></span></div>
        <div class="left up margin">Piazza</div>
      </a>
      <a href="/#">
        <div class="smallwidth left"><span class="iconic pencil"></span></div>
        <div class="left up margin">Feedback</div>
      </a>
    </div>
  </div>

