  <div id="bottombar" class="noselect">
      
      <div class="topcenter">
      <a href="#top" class="scroll">
        <span class="iconic arrow-up-alt"></span>
      </a>
      
    </div>
  </div>

