  <div id="topbar" class="noselect">
    <div id="topcontainer">
      <div id="cs61as" class="left">
        CS61<span id="color">AS</span>
      </div>
      <div id="topfloater" class="right">
        <% if (!currentUser.canAccessDashboard()) { %>
          <form method="post" action="/login">
            <span class="left small">username</span>
            <input type="text" class="left" name='user[username]'% />
            <span class="left small">password</span>
            <input type="password" class="left" name='user[password]'% />
            <button class="left" id="submitlogin">
              Login
            </button>
          </form>
        <% } else { %>
          <div class="topnav left">
            <a href="http://www.piazza.com/">
              <div class="smallwidth left"><span class="iconic chat-alt"></span></div>
              <div class="left up">Piazza</div>
            </a>
          </div>
          <div class="topnav left">
            <a href="http://mitpress.mit.edu/sicp/full-text/book/book.html">
              <div class="smallwidth left"><span class="iconic book"></span></div>
              <div class="left up">SICP</div>
            </a>
          </div>
          <div class="topnav left">
            <a href="/settings" id="settingstop">
              <div class="smallwidth left"><span class="iconic cog"></span></div>
              <div class="left up">Settings</div>
            </a>
          </div>
          <div class="topnav left">
            <a href="/logout">
              <div class="smallwidth left"><span class="iconic unlocked"></span></div>
              <div class="left up">Logout (<%-currentUser.username%>)</div>
            </a>
          </div>
        <% } %>

      </div>
    </div>
  </div>
  
  <% if (page != 'lessons') { %>
    <a href="/lessons">
      <div id="alllessons">
        <span class="iconic article"></span>
      </div>
    </a>
  <% } %>
  <% if (page !== 'dashboard' && currentUser.canAccessDashboard()) { %>
    <a href="/dashboard">
      <div id="dashboard">
        <span class="iconic home"></span>
      </div>
    </a>
  <% } %>
  <% if (page !== 'admin/index' && currentUser.canAccessAdminPanel()) { %>
    <a href="/admin">
      <div id="admin">
        <span class="iconic pencil"></span>
      </div>
    </a>
  <% } %>
  
  
  <div id="pusher"></div><%-flashMessages%>
  
  
