<% if(page === 'home') { %> 

  <div id="splash">
    <div id="homeflash"><%-flashMessages%></div>
    <div id="title">CS61AS</div>
    
    <div id="loginform">
      <div id="loginalign">
        <form method="post" action="/login">
          <span class="left">username</span><input type="text" class="right" name='user[username]' value=<% user.username || "cs61as-" %>><br>
          <span class="left">password</span><input type="password" class="right" name='user[password]' value=<% user.password || "" %>>
          <div class="clear"></div>
          <button class="mybutton left" id="submitlogin">Go!</button>
        </form>
        <button class="mybutton right" id="guest">Guest</button>
        <div class="clear"></div>
        
      </div>
    </div>
    <div id="login">
      <div id="loginfloat">
        <a id="showlogin"><div class="width left"><span name='key' class='icon iconic key'></span></div><div class="left margin">LOGIN</div></a>
        <a href="/#about" id="aboutbutton" class="scroll"><div class="width left"><span name="book" class="icon iconic book-alt"></span></div><div class="left">ABOUT</div></a>
      </div>
    </div>
  </div>
  
<% }  else { %>

  <div id="topbar">
    <div id="topcontainer">
      <div id="cs61as" class="left">
        CS61<span id="color">AS</span>
      </div>
      <div id="topfloater" class="right">
        <% if (currentUser) { %>
          <div class="topnav left">
            <a href="/user/<%-currentUser.username%>">
              <div class="smallwidth left"><span class="iconic user"></span></div>
              <div class="left up"><%-currentUser.username%></div>
            </a>
          </div>
        <% } %>
        <div class="topnav left">
          <a href="/settings" id="settings">
            <div class="smallwidth left"><span class="iconic cog"></span></div>
            <div class="left up">Settings</div>
          </a>
        </div>
        <!-- TODO: Fullscreen mode for readings, etc. -->
      </div>
    </div>
  </div>
  
  <% if (page != 'dashboard') { %>
    <a href="/dashboard">
      <div id="home">
        <span class="iconic home"></span>
      </div>
    </a>
  <% } %>  
  <%-body%>
  
<% } %>