  <div id="topbar">
    <div id="topcontainer">
      <div id="cs61as" class="left">
        CS61<span id="color">AS</span>
      </div>
      <div id="topfloater" class="right">
        <% if (currentUser.username === 'guest') { %>
          <a><div class="left up">Welcome, guest</div></a>
        <% } else { %>
          <% if (currentUser) { %>
            <div class="topnav left">
              <a href="/user/<%-currentUser.username%>">
                <div class="smallwidth left"><span class="iconic user"></span></div>
                <div class="left up"><%-currentUser.username%></div>
              </a>
            </div>
          <% } %>
          <div class="topnav left">
            <a href="/settings" id="settings">
              <div class="smallwidth left"><span class="iconic cog"></span></div>
              <div class="left up">Settings</div>
            </a>
          </div>
        <% } %>
        <!-- TODO: Fullscreen mode for readings, etc. -->
      </div>
    </div>
  </div>
  
  <% if (page != 'dashboard') { %>
    <a href="/dashboard">
      <div id="home">
        <span class="iconic home"></span>
      </div>
    </a>
  <% } %>
  <div id="pusher"></div><%-flashMessages%>
  
  
