  <div id="topbar" class="noselect">
    <div id="topcontainer">
      <div id="cs61as" class="left">
        CS61<span id="color">AS</span>
      </div>
      <div id="topfloater" class="right">
        <% if (!currentUser.canAccessDashboard()) { %>
          <a><div class="left up margin">Welcome, guest</div></a>
        <% } else { %>
          <% if (currentUser) { %>
            <div class="topnav left">
              <a href="/user/<%-currentUser.username%>">
                <div class="smallwidth left"><span class="iconic user"></span></div>
                <div class="left up"><%-currentUser.username%></div>
              </a>
            </div>
          <% } %>
          <div class="topnav left">
            <a href="/settings" id="settingstop">
              <div class="smallwidth left"><span class="iconic cog"></span></div>
              <div class="left up">Settings</div>
            </a>
          </div>
        <% } %>
          <div class="topnav left">
            <a href="/logout">
              <div class="smallwidth left"><span class="iconic unlocked"></span></div>
              <div class="left up">Logout</div>
            </a>
          </div>
      </div>
    </div>
  </div>
  
  <% if (page != 'lessons' && (page != 'dashboard' && currentUser.canAccessDashboard())) { %>
    <a href="/lessons">
      <div id="alllessons">
        <span class="iconic read-more"></span>
      </div>
    </a>
  <% } %>
  
  <% if (page !== 'admin/index'
     && (page !== 'dashboard' || currentUser.canAccessAdminPanel())
     && (page !== 'lessons' || currentUser.canAccessDashboard())) { %>
    <a href="/default">
      <div id="home">
        <span class="iconic home"></span>
      </div>
    </a>
  <% } %>

  
  
  <div id="pusher"></div><%-flashMessages%>
  
  
