<% if(page === 'home') { %> 

  <div id="splash">
    <div id="title">CS61AS</div>
    <div id="loginform">
      <div id="loginalign">
        <form method="post" action="/login">
          <span class="left">username</span><input type="text" class="right" name='user[username]' value=<% user.username || "cs61as-" %>><br>
          <span class="left">password</span><input type="password" class="right" name='user[password]' value=<% user.password || "" %>>
          <div class="clear"></div>
          <button class="mybutton left" id="submitlogin">Go!</button>
        </form>
        <button class="mybutton right" id="guest">Guest</button>
        <div class="clear"></div>
        
      </div>
    </div>
    <div id="login">
      <button id="showlogin"><span name='key' class='icon iconic key'></span>LOGIN</button>
      <a href="/#about" id="aboutbutton" class="scroll"><span name="book" class="icon iconic book-alt"></span>ABOUT</a>
    </div>
  </div>
  
<% }  else { %>

  <div id="topbar">
    <div id="topcontainer">
      <div id="topfloater" class="right">
        <% if (currentUser) { %>
          <a href="/<%-currentUser.username%>">
            <span class="iconic user"></span>
            <span class="up"><%-currentUser.username%></span>
          </a>
        <% } %>
        <a href="/settings" id="settings">
          <span class="iconic cog"></span>
          <span class="up">Settings</span>
        </a>
        <!-- TODO: Fullscreen mode for readings, etc. -->
      </div>
    </div>
  </div>
  
    <%-body%>
  
<% } %>