<b>Exercise 1:</b> this is a temp explanation.
<p>
  Cras tincidunt mi ac lorem fermentum et consectetur arcu tempus. Integer sit amet dui nulla, ultricies pulvinar ligula. Vestibulum id arcu tellus, eu pellentesque odio. Aenean ultricies consectetur lorem, non feugiat elit malesuada ac. Donec mattis velit a ante consequat et ullamcorper est luctus. Nullam in dui sed risus pharetra convallis. Ut sollicitudin congue tellus nec lacinia. Donec ac ligula in nunc malesuada tristique. Donec ultrices arcu quis quam cursus id sodales enim rutrum. Maecenas mollis, justo quis mattis imperdiet, ante ante feugiat enim, vitae aliquet dui felis sit amet diam. Ut a nunc eu velit venenatis pretium eu auctor neque.
</p>
<b>Solution:</b> this is a temp explanation.
<pre>
(or (= x 0) (= y 0) (= z 0)) 
</pre>