<div id="dash">
  <div class="note">
    Drag and drop each block into the order you would like to complete each section. You can always switch between modules after you begin a section.
  </div>
  <div class="thirds left">
    <h1>Learn</h1>
    <ul id="sortable">
	    <a href="/webcast"><li class="ui-state-completed">Webcast</li></a>
	    <li class="ui-state-default">Lecture Notes</li>
	    <li class="ui-state-default">SICP Reading</li>
    </ul>
  </div>
  <div class="thirds left">
    <h1>Practice</h1>
    <ul id="sortable2">
	    <li class="ui-state-default">Homework</li>
	    <li class="ui-state-default">Project</li>
    </ul>
  </div>
  <div class="thirds left">
    <h1>Master</h1>
    <ul id="sortable3">
	    <li class="ui-state-default">Extra for Experts</li>
    </ul>
  </div>

</div>
