<div id="dash">
  <div class="thirds left">
    <h1>Learn</h1>
    hi this is dashboard.
  </div>
  <div class="thirds left">
    <h1>Practice</h1>
    hi this is another.
  </div>
  <div class="thirds left">
    <h1>Master</h1>
    hi this is the last.
  </div>

</div>
