<div id="dash">
  <div class="note">
    <div class="padding">
      Drag and drop each block into the order you would like to complete each section. You can always switch between modules after you begin a section.
    </div>
  </div>
  <div id="lesson">
    <h2><strong><%-currentLesson.number%> - </strong> <%-currentLesson.name%></h2>
  </div>
  <div id="selection" class="right">
    <!--form id="lessonselect" method="post" action="/dashboard/switch">
      <input type="number" min="1" max=<%-currentUser.progress%> value="1" name="number" class="num">
      <button class="small"><span class="iconic arrow-right-alt"></span></button>
    </form-->
    <a href="/lessons">all available lessons <span class="iconic arrow-right-alt"></span></a>
  </div>
  <div id="lefttriangle"></div>
  
  <div class="clear"></div>
  <div class="thirds left">
    <h1>Learn</h1>
    <ul id="sortable">
	    <a href="/webcast"><li class="ui-state-completed">Webcast</li></a>
	    <li class="ui-state-incomplete">Lecture Notes</li>
	    <li class="ui-state-incomplete">SICP Reading</li>
    </ul>
  </div>
  <div class="thirds left">
    <h1>Practice</h1>
    <ul id="sortable2">
	    <a href="/homework/<%-currentLesson.number%>"><li class="ui-state-completed">Homework</li></a>
	    <li class="ui-state-incomplete">Project</li>
    </ul>
  </div>
  <div class="thirds left">
    <h1>Master</h1>
    <ul id="sortable3">
	    <li class="ui-state-incomplete">Extra for Experts</li>
    </ul>
  </div>

</div>
