<div id="nocenter">
  <% if (currentLesson.homework) {%>
  <%-partial('CS61AS/homework/hw' + currentLesson.number + '.ejs')%>
  <%} else {%>
  <p>
    Homework for this lesson does not exist.
  </p>
  <%}%>
</div>
