<div id="nocenter">
  <% if (currentLesson.homework) { %>
    <div id="lesson"><h2>Homework <%-currentLesson.number + ': ' + currentLesson.homework.name%></h2></div>
    <div id="lefttriangle"></div>
    <div class="clear"></div>
    <div id="homework">
      <%-partial('CS61AS/homework/hw' + currentLesson.number + '.ejs')%>
    </div>
  <% } else { %>
  <p>
    Homework for this lesson does not exist.<br/>
    TODO: each lesson should have one homework.
  </p>
  <%}%>
</div>
