<div id="profile">
  <div id="sidebar">
    <% if (showGrades) { %>
    <button id="showGrades">
      Show Grades
    </button>
    <% } %>
    <% if (showProgress) { %>
    <button id="showProgress">
      Show Progress
    </button>
    <% } %>
  </div>
  <%-user.username%>'s profile.
</div>