<div id="nocenter">
  <% if (project) { %>
  <div id="lesson">
    <h2><%-project.name%></h2>
  </div>
  <div id="lefttriangle"></div>
  <div class="clear"></div>
  <div id="homework">
    <% if (project.isCompleted) {%>
      <div class="note">
        <div class="padding">
          You have completed this project.
        </div>
      </div>
    <% } %>
    <%-partial('cs61as/unit' + currentLesson.unit.number + '/proj' + projectId +'.ejs')%>
    <% if (showControls) { %>
      <% if (!project.isCompleted) {%>
      <center>
        <form method="post" action="/project/<%-currentLesson.number%>/<%-projectId%>">
          <button class="mark">
            Mark as complete
          </button>
        </form>
      </center>
      <% } %>
    <% } %>
  </div>
  <% } else { %>
  <p>
    This project does not exist.
  </p>
  <%}%>
</div>