<div id="nocenter">
  <% if (reading) { %>
  <div id="lesson">
    <h2><%-reading.name%></h2>
  </div>
  <div id="lefttriangle"></div>
  <div class="clear"></div>
  <div id="homework">
    <% if (reading.isCompleted) {%>
      <div class="note">
        <div class="padding">
          You have completed this reading.
        </div>
      </div>
    <% } %>
    <%-partial('CS61AS/readings/' + reading.location +'.ejs')%>
    <% if (showControls) { %>
      <% if (!reading.isCompleted) {%>
      <center>
        <form method="post" action="/reading/<%-currentLesson.number%>/<%-readingId%>">
          <button class="mark">
            Mark as complete
          </button>
        </form>
      </center>
      <% } %>
    <% } %>
  </div>
  <% } else { %>
  <p>
    This reading does not exist.
  </p>
  <%}%>
</div>