<div id="centered">
  <div id="lesson" class="noselect">
    <h2>Settings - <strong><%-currentUser.username%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
  <form method="post" action="/settings">
  <div class="formbox">
    <span class="left boxy noselect">email</span>
    <input type="email" class="right textboxy" name='user[email]' value='<%-currentUser.email%>' pattern="^[a-z](?=[\w.]{1,31}@)\w*\.?\w*@(cs\.)*berkeley.edu$" title="Must be a berkeley.edu email, start with a letter, between 2-32 characters long before the @ sign, and contains at most one dot.">
    <br>
    <span class="left boxy noselect">current password</span>
    <input type="password" class="right textboxy" name='user[password]' required>
    <br>
    <span class="left boxy noselect">new password</span>
    <input type="password" class="right textboxy" name='user[newpassword]'>
    <br>
    <span class="left boxy noselect">confirm new password</span>
    <input type="password" class="right textboxy" name='user[confirm]'>
    <br>
    <span class="left boxy noselect">units</span>
    <input type="number" class="right textboxy" min="2" max="5" name='user[units]' value=<%-currentUser.units%> required>
    <div class="clear"></div>
  </div>
    <button class="anotherbutton noselect" id="submitUserEdit">
      Save
    </button>
  </form>
  </div>
</div>