<div id="centered">
  <div id="lesson" class="noselect">
    <h2>Settings - <strong><%-currentUser.username%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
  <form method="post" action="/settings">
  <div id="settings">
    <span class="left boxy">email</span>
    <input type="text" class="right textboxy" name='user[email]' value=<%-currentUser.email%>>
    <br>
    <span class="left boxy">current password</span>
    <input type="password" class="right textboxy" name='user[password]' required>
    <br>
    <span class="left boxy">new password</span>
    <input type="password" class="right textboxy" name='user[newpassword]'>
    <br>
    <span class="left boxy">units</span>
    <input type="text" class="right textboxy" name='user[units]' value=<%-currentUser.units%>>
    <div class="clear"></div>
  </div>
    <button class="anotherbutton" id="submitUserEdit">
      Save
    </button>
  </form>
  </div>
</div>