<div id="content">
  <h1> Settings </h1>
  <p>
    Logged in as <%-currentUser.username%>
  </p>
  <form method="post" action="/settings">
    <span class="left">email</span>
    <input type="text" class="right" name='user[email]' value=<%-currentUser.email%>>
    <br>
    <span class="left">password</span>
    <input type="text" class="right" name='user[password]'>
    <br>
    <span class="left">units</span>
    <input type="text" class="right" name='user[units]' value=<%-currentUser.units%>>
    <div class="clear"></div>
    <button class="mybutton left" id="submitUserEdit">
      Save
    </button>
  </form>
</div>