<div id="nocenter">
  <div id="lesson">
    <h2>Solutions - <strong><%-type%> <%-currentLesson.number%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <div class="clear"></div>
  <div id="homework">
    <%-partial('cs61as/unit' + currentLesson.unit.number + '/' + currentLesson.number + '/hw-solutions.ejs')%>
  </div>
</div>