<div id="nocenter">
  <div id="lesson">
    <h2>Solutions - <strong><%-type%> <%-currentLesson.number%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <div class="clear"></div>
  <div id="homework">
    <%-partial('CS61AS/' + type + '/sol' + currentLesson.number +'.ejs')%>
  </div>
</div>