html{color:#000;background:#FFF;}body,div,dl,dt,dd,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

@font-face {
	font-family: 'League Gothic';
	src: url('/fonts/boldfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  height: 100%;
  background-color: #4D5A63;
  letter-spacing: 1px;
}

#title {
   font-family: 'League Gothic', Arial;
   font-size: 150px;
   /*text-shadow: 0px 7px 0px #fff;*/
   color: #9aa7b0;
   padding-top: 130px;

  text-shadow: 0 1px 0 #fff,
               0 2px 0 #fff,
               0 3px 0 #fff,
               0 4px 0 #fff,
               0 5px 0 #fff,
               0 6px 1px rgba(200,215,220,.2),
               0 0 5px rgba(200,215,220,.2),
               0 1px 3px rgba(200,215,220,.5),
               0 3px 5px rgba(200,215,220,.4),
               0 5px 10px rgba(200,215,220,.35),
               0 20px 20px rgba(200,215,220,.25);
}

#splash, #topbar, #bottombar {
  color: #ccc;
  background: rgb(242,245,246); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;
  width: 100%;
  box-shadow: 0px 2px 15px #333;
  -webkit-box-shadow: 0px 2px 15px #333;
  -moz-box-shadow: 0px 2px 15px #333;
  border-bottom: 1px solid #fff;
  z-index: 100;
}

#splash {
  min-height: 350px;
  position: relative;
  padding: 0px;
}

#showlogin:hover, #aboutbutton:hover {
  color: #e1bfbe;
}

.margin {
  margin-right: 20px;
}

#topbar, #bottombar {
  position: relative;
  color: #626B70;
}

#bottombar {
  bottom: 0px;
  border-top: 1px solid #fff;
  border-bottom: 0px;
  padding: 10px 0px;
  height: 30px;
}

#topbar {
  top: 0px;
  height: 50px;
}

#topcontainer {
  margin: 0 auto;
  width: 90%;
  top: 0px;
  line-height: 30px;
}

#topfloater {
  padding: 10px 0px;
}

#alllessons span, #admin span, #dashboard span, #topbar a, #bottombar a {
  color: #9aa7b0;
  font-size: 30px;
  text-shadow: 0px 1px 0px #fff;
  margin: 10px;
  line-height: 30px;
  letter-spacing: 2px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

#alllessons span, #admin span, #dashboard span {
  font-size: 50px;
}

#topbar a:hover, #bottombar a:hover {
  color: #626B70;
}

.up, #bottombar a {
  text-transform: uppercase;
  font-family: 'League Gothic', Arial;
  font-size: 25px;
  line-height: 37px;
}

#icon, .icon {
  font-size: 55px;
	line-height: 60px;
}

#info {
  top: 0px;
  color: #fff;
  margin: 0 auto;
  width: 700px;
  margin-bottom: 50px;
  text-shadow: 0px 1px 0px #000;
  font-family: 'Open Sans';
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 300;
}

#info h1 {
  margin: 50px 0;
  margin-bottom: 20px;
  font-family: 'League Gothic';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 0px 1px 0px #282F33;
  color: #9AA7B0;
}

#login {
  width: 100%;
  height: 50px;
  text-align: center;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

#loginfloat {
  width: 340px;
  margin: 0 auto;
}

#showlogin, #login a {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  font-family: 'League Gothic';
  font-size: 50px;
  color: rgba(200,215,220,1);
  text-shadow: 0px 1px 0px #fff;
  margin: 0px 20px;
}

#loginform {
  font-size: 20px;
  line-height: 50px;
  color: #9aa7b0;
}

#loginform input {
  border: 0px;
  height: 30px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(200,215,220,0.7);
  -webkit-box-shadow: 0px 0px 10px rgba(200,215,220,0.7);
  -moz-box-shadow: 0px 0px 10px rgba(200,215,220,0.7);
}

#loginalign {
  width: 280px;
  margin: 100px auto;
  font-weight: 400;
  font-size: 22px;
  text-shadow: 0px 1px 0px #fff;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.anotherbutton, .mybutton {
  background-color: #9aa7b0;
  width: 100px;
  height: 50px;
  border: 0px;
  text-transform: uppercase;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  border-radius: 0px 0px 15px 15px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.anotherbutton {
  background-color: rgba(200,215,220,1);
  margin: 0;
}

.mybutton:hover {
  background-color: rgba(200,215,220,1);
}

#top {
  top: 0px;
}

#about {
  position: relative;
}

a {
  text-decoration: none;
}

#profile {
  width: 72%;
  min-height: 520px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(242,245,246,1);
  margin-top: 80px;
  font-weight: 400;
  color: #333;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding-left: 20%;
}

#sidebar {
  background-color:rgba(200,215,220,1);
  z-index: 99;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 20%;
  position: absolute;
  border-right: 1px solid #fff;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 1px 0px 1px rgba(200,215,220,0.7);
  -webkit-box-shadow: 1px 0px 1px rgba(200,215,220,0.7);
  -moz-box-shadow: 1px 0px 1px rgba(200,215,220,0.7);
}

#dash, #content, #nocenter, #centered {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(242,245,246,1);
  font-weight: 400;
  color: #333;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-shadow: 0px 1px 0px #fff;
  text-align: center;
  margin-bottom: 40px;
}

#nocenter, #content {
  text-align: left;
}

#lambda {
  font-family: serif;
}

.thirds {
   width: 23%;
   margin: 1%;
   text-align: center;
   min-height: 50%;
   margin-top: 0px;
}

.nolist { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 100%; 
}
.nolist li { 
  margin: 0 5px 5px 5px; 
  padding: 5px; 
  font-size: 1.2em; 
  min-height: 1.5em; 
}

.nolist li { 
  min-height: 1.5em; 
  line-height: 1.2em; 
}


.incomplete {
  background-color: #e1bfbe;
  border: 1px solid #BD9392;
  color: #976766;
}

.completed {
  background-color: #BEE1CA;
  border: 1px solid #609472;
  color: #609472;
}

.errornote, .infonote, .note, .yellownote, .rednote {
  background-color: #BEE1CA;
  border: 1px solid #609472;
  color: #333;
  font-size: 15px;
  line-height: 18px;
  text-shadow: none;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.yellownote {
  background-color: #FCFCD0;
  border: 1px solid #E5E0B2;
}

.rednote, .errornote {
  background-color: #e1bfbe;
  border: 1px solid #BD9392;
}

.errornote, .infonote, #dash, #content, #profile, #nocenter {
  box-shadow: 0px 2px 15px #333;
  -webkit-box-shadow: 0px 2px 15px #333;
  -moz-box-shadow: 0px 2px 15px #333;
}

.padding {
  padding: 10px;
}

#alllessons, #dashboard, #admin {
  position: fixed;
  right: 0px;
  width: 50px;
  padding-left: 2px;
  height: 60px;
  z-index: 99;
  font-size: 30px;
	line-height: 70px;
	border-radius: 15px 0px 0px 15px;
	border: 1px solid #fff;
  background: rgba(227,234,237,1);
  box-shadow: 0px 2px 5px rgba(77, 90, 99, 0.4);
  -webkit-box-shadow: 0px 2px 5px rgba(77, 90, 99, 0.4);
  -moz-box-shadow: 0px 2px 5px rgba(77, 90, 99, 0.4);
  opacity: 0.9;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

#alllessons {
  top: 120px;
}

#dashboard {
  top: 190px;
}

#admin {
  top: 260px;
}

#alllessons:hover, #dashboard:hover, #admin:hover {
  opacity: 1;
}

#cs61as {
  letter-spacing: 3px;
  padding-top: 7px;
  font-family: 'League Gothic';
  color: #4D5A63;
  text-shadow: 0px 1px 0px #fff;
  line-height: 40px;
  font-size: 40px;
}

#color {
  color: #BD9392;
}

#lesson, .otherflag {
	background-color: #394349;
	padding-right: 30px;
	padding-left: 25px;
	position: relative;
	margin-bottom: 10px;
	margin-top: 0px;
	left:-45px;
	float: left;
	z-index: 99;
	border-right: 4px solid #282F33;
}

#lesson strong {
	font-family: 'League Gothic';
	color: #9aa7b0;
}

#lefttriangle, .triangle {
	border-color: transparent #282F33 transparent transparent;
	border-style:solid;
	border-width:25px;
	height:0px;
	width:0px;
	position: relative;
	left: -70px;
	top: 26px;
	z-index: 98;
}

#lesson h2, .otherflag h2 {
	font-size: 30px;
	line-height: 30px;
	margin: 10px 0px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-align: center;
	font-weight: 400;
	font-family: 'Yanone Kaffeesatz';
}

h1 {
  color: #4D5A63;
  font-size: 30px;
  margin: 10px;
  text-transform: uppercase;
  line-height: 40px;
}

.num {
  width: 60px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  padding: 5px 20px;
  padding-right: 0px;
  color: #394349;
  font-family: 'League Gothic';
}

.small {
  background: transparent;
  border: 0px;
  font-size: 50px;
  text-shadow: 0px 1px 0px #fff;
  color: #4D5A63;
  cursor: pointer;
  margin-left: 10px;
}

.width {
  width: 50px;
}

.smallwidth {
  width: 30px;
}

#dash a {
  color: #4D5A63;
  font-size: 20px;
  line-height: 60px;
}

#dash a:hover {
  color: #9aa7b0;
}

#homeflash {
  position: absolute;
  z-index: 101;
  width: 100%;
  top: 10px;
}

.flash {
  margin: 0 auto;
  width: 90%;
}

.infonote span, .errornote span {
  float: left;
  font-size: 25px;
  line-height: 25px;
  color: #BD9392;
}

.infonote span {
  color: #609472;
}

#homeflash .errornote, #homeflash .flash, #homeflash .infonote {
  box-shadow: none;
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
  width: 300px;
}

#pusher {
  margin-top: 30px;
  width: 100%;
  height: 0px;
}

.center {
  margin: 0 auto;
  width: 640px;
}

.topcenter {
  margin: 0 auto;
  width: 100px;
}

#homework {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 90%;
}

#homework pre {
  margin: 10px 10px;
}

#content a, #nocenter a {
  color: #BD9392;
}

#content a:hover, #nocenter a:hover { 
  color: #e1bfbe;
}

#nocenter {
  font-family: 'Open Sans', arial;
  letter-spacing: 0px;
  font-size: 16px;
}

#nocenter img {
  max-width: 90%;
  margin: 3%;
  border: 5px solid rgba(200,215,220,0.5);
}

.contentpadding {
  padding: 10px 40px 40px 40px;
}

#accordion h3, #solution h3 {
  border-bottom: 0px;
  background-color: rgba(200,215,220,0.5);
  border: 1px solid rgba(200,215,220,1);
  margin: 0px;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #4D5A63;
  outline: none;
}

#accordion .links, #solution .wrapper {
  border: 1px solid rgba(200,215,220,1);
  border-top: 0px;
  background-color: #fff;
  padding: 10px 20px;
}

#accordion a {
  color: #BD9392;
  text-decoration: underline;
}

#accordion a:hover {
  color: #4D5A63;
}

.indent {
  margin-left: 50px;
}

.noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.gradebox, .formbox {
  width: 500px;
  line-height: 60px;
  margin: 0 auto;
  background-color: rgba(200,215,220,1);
  padding: 10px;
}

.gradebox {
  background-color: transparent;
}

.bigboxy, .boxy {
  height: 50px;
  margin: 5px;
  width: 45%;
  padding: 0px 15px;
  text-align: left;
  background-color: #394349;
  color: #fff;
  text-shadow: none;
  border-bottom: 1px solid rgba(242,245,246,1);
}

.bigtextboxy, .displayboxyleft, .displayboxyright, .selectboxy, .linkboxy, .textboxy {
  height: 50px;
  margin: 5px;
  width: 38%;
  padding: 0px 15px;
  border: 0px;
  border-bottom: 1px solid rgba(242,245,246,1);
  background-color: #fff;
}

.bigtextboxy {
  font-family: courier;
  font-size: 14px;
}

.bigboxy {
  height: 300px;
}

.bigtextboxy {
  padding: 15px;
  height: 270px;
}

.displayboxyright {
  text-align: left;
}

.green {
  background-color: #BEE1CA;
}

.red {
  background-color: #e1bfbe;
}

.yellow {
  background-color: #FCFCD0;
}

.displayboxyleft {
  text-align: right;
  width: 45%;
}

.selectboxy {
  width: 44%;
}

.linkboxy {
  color: #394349;
}

.linkboxy:hover {
  background-color: #FCFCD0;
}

.textboxy:focus {
  background-color: #FCFCD0;
}

.textboxy:invalid {
  background-color: #e1bfbe;
}

.gradebox h3, .formbox h3 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
	font-family: 'League Gothic';
	font-weight: normal;
}

input {
  outline: none;
}

#nopadding {
  padding: 0px;
}

.adminpanel {
  background-color: #fff;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  line-height: 50px;
  font-size: 30px;
  color: #394349;
  text-transform: uppercase;
  border-bottom: 5px solid #9aa7b0;
}

.adminpanel:hover {
  border-bottom: 5px solid #e1bfbe;
}

.small {
  font-size: 14px;
  float: left;
  line-height: 30px;
  font-weight: 200;
}

#checkbox {
  width: 120px;
  margin: 0 auto;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}

.checkbox {
  float: right;
}

#push {
  height: 50px;
}

#topbar input, #topbar button {
  border: 0px;
  line-height: 20px;
  height: 20px;
  width: 100px;
  background-color: #fff;
  margin: 5px 10px;
  font-size: 14px;
  padding: 0px 5px;
  border-radius: 3px;
}

#topbar button {
  text-transform: uppercase;
  width: 50px;
  background-color: #4D5A63;
  color: #fff;
  line-height: 20px;
}

.mark {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282F33;
  border-radius: 3px;
}

.mark:hover {
  background-color: rgba(242,245,246,1);
}

.announcement {
  text-align: left;
  width: 90%;
  background-color: #fff;
  margin: 10px auto;
  margin-bottom: 30px;
  text-shadow: none;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: .5px;
  border-radius: 5px;
  border: 1px solid rgba(200,215,220,1);
}

.announcement h4, .announcement h3 {
  margin: 0px;
  text-align: center;
  font-weight: normal;
}

.announcement h3 {
  letter-spacing: 1px;
}

.announcement h3 {
  background-color: rgba(200,215,220,0.5);
  border-bottom: 1px solid rgba(200,215,220,1);
  margin: 0px;
  padding: 10px 20px;
  color: #4D5A63;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.announcement h4 {
  color: #4D5A63;
  font-weight: 300;
  border-top: 1px solid rgba(200,215,220,1);
  text-transform: uppercase;
}

.morepadding {
  padding: 10px 30px;
}

.linkboxy a {
  color: #394349;
}

.linkboxy a:hover {
  color: #BD9392;
}

.resource {
  border: 1px solid rgba(200,215,220,1);
  background-color: rgba(256,256,256,0.5);
  color: #4D5A63;
}

.resources {
  border: 1px solid rgba(200,215,220,1);
  background-color: rgba(200,215,220,0.5);
}
