<!-- Homework 10: Client/server paradigm, Concurrency -->

<p>
<b>Reading:</b>
Abelson &amp; Sussman, Section 3.4
<p>
<b>Homework:</b>
<p>
These exercises use the Instant Message program, found in the following files:

<p>
<tt>  <pre>&#126;cs61as/lib/im-client.scm
&#126;cs61as/lib/im-server.scm
&#126;cs61as/lib/im-common.scm
</pre></tt>

<p>
1.  Invent the capability to send a message to a list of clients as
well as to a single client.  Do this entirely in the client program,
so what actually goes to the server is multiple requests.

<p>
2.  Invent the capability to broadcast a message to every client.
Do this by inventing a <tt>broadcast</tt> command that the server understands.

<p>
3.  Could #1 have been done with the server doing part of the work?
Could #2 have been done entirely in the client code?  Compare the
virtues of the two approaches.

<p>
4.  Invent the capability of refusing messages from specific people.
The sender of a refused message should be notified of the refusal.
Decide whether to do it entirely in the client or with the server's
cooperation, and explain why.

<p>
5.  Why is the 3-way handshake necessary when connecting to the server?

<p>
<font face="symbol"></font
> Abelson &amp; Sussman, exercises 3.38, 3.39, 3.40, 3.41, 3.42, 3.44, 3.46, 3.48

<p>
<br /><hr />
Unix feature of the week: <tt>&amp;</tt>, <tt>^Z</tt>, <tt>fg</tt>, <tt>bg</tt>, <tt>jobs</tt>, <tt>kill</tt>
<p>
Emacs feature of the week: <tt>M-x abbrev-mode</tt>, <tt>M-x add-mode-abbrev</tt>
<p>

<p>

<p></p>