<!--Lab 7-->

<ol>
  <li>
    <p>
      Modify the <tt>person</tt> class given in the lecture notes for week 7
      (it's in the file <tt>demo2.scm</tt> in the <tt>&#126;cs61as/lectures/3.0</tt> 
      directory) to add a <tt>repeat</tt> 
      method, which repeats the last thing said.  Here's an example of
      responses to the <tt>repeat</tt> message.
    </p>  

<pre>
> (define brian (instantiate person 'brian))
brian
> (ask brian 'repeat)
()
> (ask brian 'say '(hello))
(hello)
> (ask brian 'repeat)
(hello)
> (ask brian 'greet)
(hello my name is brian)
> (ask brian 'repeat)
(hello my name is brian)
> (ask brian 'ask '(close the door))
(would you please close the door)
> (ask brian 'repeat)
(would you please close the door)
</pre>
  </li>
 
  <li>
    <p>
      This exercise introduces you to the <tt>usual</tt> procedure
      described on page 9 of "Object-oriented Programming - Above-the-line
      View".  Read about <tt>usual</tt> there to prepare for lab.
    </p>
 
    <p> 
      Suppose that we want to define a class called <tt>double-talker</tt> 
      to represent people that always say things twice, for example as in
      the following dialog.
    </p> 

<pre>
> (define mike (instantiate double-talker 'mike))
mike
> (ask mike 'say '(hello))
(hello hello)
> (ask mike 'say '(the sky is falling))
(the sky is falling the sky is falling)
</pre>
 
    <p> 
      Consider the following three definitions for the <tt>double-talker</tt> class.
      (They can be found online in the file <tt>&#126;cs61as/lib/double-talker.scm</tt>.)
    </p>
 
<pre>
(define-class (double-talker name)
  (parent (person name))
  (method (say stuff) (se (usual 'say stuff) (ask self 'repeat))) )
 
(define-class (double-talker name)
  (parent (person name))
  (method (say stuff) (se stuff stuff)) )
 
(define-class (double-talker name)
  (parent (person name))
  (method (say stuff) (usual 'say (se stuff stuff))) )
</pre>
 
    <p> 
      Determine which of these definitions work as intended.
      Determine also for which messages the three versions would respond
      differently.
    </p>
  </li>
</ol>
