<div id="centered">
  <div class="note">
  <div class="padding">
    Think twice before you click save.
    This is dangerous, and it has the potential to break the DB (no security yet).
  </div>
  </div>
 <div id="lesson" class="noselect">
    <h2>Editing note with ID: <strong><%-note.id%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
<div class="contentpadding">

  <form method="post" action="/admin/announcements/edit/<%-note.id%>">
  <div class="formbox">
    <span class="left boxy noselect" required>title</span>
    <input type="text" class="right textboxy" name='note[title]' value=<%-note.title%> required>
    <br>
    <span class="left bigboxy noselect">body</span>
    <textarea class="right bigtextboxy" name='note[content]' required><%-note.content%></textarea>
    <div class="clear"></div>
  </div>
    <button class="anotherbutton" id="submitNoteEdit">
      Save
    </button>
  </form>
</div>
</div>