<% if(page === 'home') { %> 
  <div id="splash">
    <div id="title">CS61AS</div>
    <div id="loginform">
      <div id="loginalign">
        <form>
          <span class="left">username</span><input type="text" class="right" name="username"><br>
          <span class="left">password</span><input type="text" class="right" name="password">
          <div class="clear"></div>
          <button class="mybutton" id="submitlogin">Go!</button>
          <button class="mybutton" id="guest">Guest</button>
        </form>
        
      </div>
    </div>
    <div id="login"><button id="showlogin"><a name='key' class='iconic key'></a>LOGIN</button></div>
  </div>
<% }  else { %>
  <div id="topbar">
    <a href="/settings">Settings</a>
  </div>
  <%-body%>
<% } %>