<div id="content">
  <h1> admin/users </h1>
  <p>
    Logged in as <%-currentUser.username%>
  </p>
  <p>
    Add new user:
  </p>
  <form method="post" action="/admin/users/add">
    <span class="left">username</span>
    <input type="text" class="right" name='user[username]'>
    <br>
    <span class="left">password</span>
    <input type="text" class="right" name='user[password]'>
    <br>
    <span class="left">email</span>
    <input type="text" class="right" name='user[email]'>
    <br>
    <button class="mybutton left" id="submitUserEdit">
      Add
    </button>
  </form>
  <p>
    Number of users: <%-users.length %>
  </p>
  <% for (var i = 0; i < users.length; i += 1) { var user = users[i];%>
  <ul>
    <li>
      <span class="left">username: <%-user.username %></span>
      <a href="/admin/users/edit/<%-user.id%>">(edit)</a>
    </li>
  </ul>
  <% } %>
</div>