<div id="centered">

  <div id="lesson" class="noselect">
    <h2>User Administration - <strong><%-currentUser.username%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
  <form method="post" action="/admin/users/add">
  <div class="formbox">
  <h3>Add a user (<%-users.length %> total)</h3>
    <span class="left boxy noselect">username</span>
    <input type="text" class="right textboxy" name='user[username]'>
    <br>
    <span class="left boxy noselect">password</span>
    <input type="password" class="right textboxy" name='user[password]'>
    <br>
    <span class="left boxy noselect">email</span>
    <input type="text" class="right textboxy" name='user[email]'>
    <div class="clear"></div>
  </div>
    <button class="anotherbutton noselect" id="submitUserEdit">
      Add
    </button>
  </form>
  
  <% for (var i = 0; i < users.length; i += 1) { var user = users[i];%>
  <ul>
    <li>
      <span class="left">username: <%-user.username %></span>
      <a href="/admin/users/edit/<%-user.id%>">(edit)</a>
    </li>
  </ul>
  <% } %>
</div>
</div>