<div id="centered">
  <div class="yellownote">
    <div class="padding">
      <strong>Warning: </strong>Think twice before you click save.
      This is dangerous, and it has the potential to break the DB (no security yet).
    </div>
  </div>
  <div id="lesson" class="noselect">
    <h2>Manage reading</h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
    <form method="post" action="/admin/readings/add">
      <div class="formbox">
        <h3>Add a new Reading</h3>
        <span class="left boxy noselect" required>name</span>
        <input type="text" class="right textboxy" name='reading[name]' required >
        <span class="left boxy noselect" required>location</span>
        <input type="text" class="right textboxy" name='reading[location]' required >
        <span class="left boxy noselect" required>Is SICP</span>
        <input type="checkbox" class="right textboxy" name='reading[SICP]' >
        <div class="clear"></div>
      </div>
      <button class="anotherbutton" id="submitReading">
        Save
      </button>
    </form>
    <br>
    <br>
    <div class="formbox">
      <h3>Edit a extra (<%-readings.length %> total)</h3>
      <% for (var i = 0; i < readings.length; i += 1) { var reading = readings[i];%>
      <span class="left boxy noselect displaymargin">name: <%-reading.name%></span>
      <span class="right linkboxy displaymargin">
        <a href="/admin/readings/edit/<%-reading.id%>">(edit)</a>
        <a href="/admin/readings/delete/<%-reading.id%>">(delete)</a>
      </span>
      <% } %> <div class="clear"></div>
    </div>
  </div>
</div>