<div id="centered">
  <div class="yellownote">
    <div class="padding">
      <strong>Warning: </strong>Think twice before you click save.
      This is dangerous, and it has the potential to break the DB (no security yet).
    </div>
  </div>
  <div id="lesson" class="noselect">
    <h2>Editing homework with ID: <strong><%-homework.id%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
    <form method="post" action="/admin/homework/edit/<%-homework.id%>">
      <div class="formbox">
        <h3>Add a new Homework</h3>
        <span class="left boxy noselect" required>name</span>
        <input type="text" class="right textboxy" name='homework[name]' value="<%-homework.name%>" required >
        <div class="clear"></div>
      </div>
      <button class="anotherbutton" id="submitHomework">
        Save
      </button>
    </form>
  </div>
</div>