<!-- Project 4: Logo -->

<a href="http://wla.berkeley.edu/~cs61as/reader/nodate-logo.txt" target="_blank">Click here for project spec</a>

<h2>Required Code</h2>
<UL><LI><A HREF="http://wla.berkeley.edu/~cs61as/reader/logo.scm">logo.scm</A></LI></UL> 
<UL><LI><A HREF="http://wla.berkeley.edu/~cs61as/reader/logo-meta.scm">logo-meta.scm</A></LI></UL> 
<UL><LI><A HREF="http://wla.berkeley.edu/~cs61as/reader/tables.scm">tables.scm</A></LI></UL> 
<UL><LI><A HREF="http://wla.berkeley.edu/~cs61as/reader/obj.scm">obj.scm</A></LI></UL></p><P align="right"><a id="next" class="chapter" href="/magic?page=/display?page=121" target="_top">Next&raquo;</a></P>