<!-- Introduction 14: Logic programming -->

<p>
Logic programming excels in providing interfaces to data bases for
information retrieval.  The query language we shall implement in this
chapter is designed to be used in this way.

<p> 
In order to illustrate what the query system does, we will show how it
can be used to manage the data base of personnel records for
<a name="%_idx_5100"></a>Microshaft, a thriving high-technology company in the
Boston area.  The language provides pattern-directed access to
personnel information and can also take advantage of general rules in
order to make logical deductions.<p></p>